.page {

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.filters {
  display: flex;
  gap: 16px;
  color: #fff;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  margin:auto;
  gap: 20px;
  width: 100%;
}

.product_card {
  display: flex;
  width: 300px;
  height: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 16px;
  background: #6b6b6b;
  gap: 0.2rem
}

.product_image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.buttons_section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
}

.like_button {
  width: auto;
  height: 30px;
  border-radius: 20px;
  border: 2px solid #9b6e6e;
  margin: 0 1rem;
  padding: 0 0.5rem;

  &:hover {
    cursor: pointer;
    border: 2px solid #e0d6d6;
  }
}

.delete_button {
  width: auto;
  height: 30px;
  border-radius: 20px;
  border: 2px solid #443030;
  margin: 0 1rem;
  padding: 0 0.5rem;
  &:hover {
    cursor: pointer;
    border: 2px solid #e0d6d6;
  }
}

.like_button_active {
  width: auto;
  height: 30px;
  border-radius: 20px;
  border: 2px solid #d3d0d0;
  background-color: rgb(182, 37, 37);
  margin: 0 1rem;
  padding: 0 0.5rem;
}

.item_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  margin: 1rem 20rem;
  background-color: #6b6b6b;
  border-radius: 1rem;
}

.item_image {
  
  height: 300px;
  width: auto;
  object-fit: contain;
}